# Recording (DVR)
RECORD_SAVE_PATH=/recordings
RECORD_STAGING_PATH=/staging
RECORD_DEFAULT_DURATION_MIN=120
RECORD_EPG_PRE_PAD_MIN=2
RECORD_EPG_POST_PAD_MIN=5
RECORD_MAX_CONCURRENT=1
# Host path mounted into the container at RECORD_SAVE_PATH (compose interpolation)
RECORD_HOST_PATH=/change/me
